<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tu Blog De Confianza</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/logo.png">
    </head>
    <body>
        <header>
            <a href="/templates/index.html"><img class="logo" src="/img/logo.png" alt="logo"></a>
            <div class="header-items">
                <nav>
                    <a>Categorias</a>
                    <a href="/templates/login.html">Login</a>
                    <a href="/templates/register.html">Register</a>
                    <a href="/templates/contact.html">Contacto</a>
                    <a href="/templates/about.html">Sobre Nosotros</a>
                </nav>
            </div>
        </header>
        <section>
            <div class="banner">
                <h1>TU BLOG DE CONFIANZA</h1>
            </div>
        </section>
        <div class="btn-centerer">
            <div class="btn-inicial">
                <a href="/templates/register.html">Empiezar un nuevo camino hacia el conocimiento</a>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>