<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Iniciando Sesión...</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/sessions.css">
        <link rel="icon" href="/img/logo.png">
    </head>
    <body>
        <section>
            <div class="btn"><a href="/templates/index.html">Volver al inicio</a></div>
            <h1>Hola de nuevo paisano! 😊</h1>
            <input type="text" name="email" id="email" placeholder="Correo Electronico">
            <input type="password" name="password" id="password" placeholder="Introduce Tu Contraseña   ">
        </section>
        <script src="#" async defer></script>
    </body>
</html>